body {
    font-family: 'Open Sans', sans-serif;
}

/*--- Bootstrap like callout ---*/
.bs-callout {padding: 20px;margin: 20px 0;border: 1px solid #eee;border-left-width: 5px;border-radius: 3px;}
.bs-callout h4 {margin-top: 0;margin-bottom: 5px;}
.bs-callout p:last-child {margin-bottom: 0;}
.bs-callout code {border-radius: 3px;}
.bs-callout+.bs-callout {margin-top: -5px;}

.bs-callout-default {border-left-color: #777;}
.bs-callout-default h1,.bs-callout-default h2,.bs-callout-default h3,.bs-callout-default h4 {color: #777;}

.bs-callout-primary {border-left-color: #428bca;}
.bs-callout-primary h1,.bs-callout-primary h2,.bs-callout-primary h3,.bs-callout-primary h4 {color: #428bca;}

.bs-callout-success {border-left-color: #5cb85c;}
.bs-callout-success h1,.bs-callout-success h2,.bs-callout-success h3,.bs-callout-success h4 {color: #5cb85c;}

.bs-callout-danger {border-left-color: #d9534f;}
.bs-callout-danger h1,.bs-callout-danger h2,.bs-callout-danger h3,.bs-callout-danger h4 {color: #d9534f;}

.bs-callout-warning {border-left-color: #f0ad4e;}
.bs-callout-warning h1,.bs-callout-warning h2,.bs-callout-warning h3,.bs-callout-warning h4 {color: #f0ad4e;}

.bs-callout-info {border-left-color: #5bc0de;}
.bs-callout-info h1,.bs-callout-info h2,.bs-callout-info h3,.bs-callout-info h4 {color: #5bc0de;}

.bg-default {background-color: #777;}
.bg-primary {background-color: #428bca;}
.bg-success {background-color: #5cb85c;}
.bg-danger {background-color: #d9534f;}
.bg-warning {background-color: #f0ad4e;}
.bg-info {background-color: #5bc0de;}

/*--- form validation styling ---*/
.ng-valid {
}
.ng-dirty.ng-valid {

}

.ng-dirty.ng-invalid {
}

input {width:100%;}

.hidden {display:none;}

/*--- highlighting selected rows---*/
.selected td {
background-color: #5bc0de;
}

/*--- icon for the application---*/
.navbar-brand > img {
    width:auto;
	height:auto;
	max-height: 100%;
	max-width: 100%;
	float:left;
	margin-right: 5px;
}

.italic {font-style:italic;}
.light {font-weight:lighter;}
.bold {font-weight:bold;}

.hidden {display: none !important;}


/*--- Frontpage crap ---*/
.jumbotron .content {width:75%;}
.jumbotron .graphics {width:25%;}
.jumbotron > div {float:left;}
.jumbotron .graphics img {width:100%;}

.functionality-panel {
position:fixed;
right:30px;
bottom:0;
box-shadow: 0 2px 4px rgba(0,0,0,0.3);
border-bottom-left-radius:0;
border-bottom-right-radius:0;
}

.panel.functionality-panel {margin-bottom:0px;}
.functionality-panel .btn.disabled {display:none;}

#loading-spinner {
    width:300px;
    height:200px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-150px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    background-color:rgba(255,255,255,0.7);
    text-align:center;
    padding:30px;
}

.logged-user {
float:right;
padding-right:15px;
line-height:50px;
}

.hidden {
    display: none;
}

input.ng-invalid.ng-touched {
    border-color: #d9534f;
}

input.ng-valid.ng-touched {
    border-color: #5cb85c;
}

.jumbotron {
    background-color:transparent;
    text-align: center;
    background-image: url("../images/main-graphics.svg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 450px;
    background-color: #7ababa;
    padding: 48px 15px;
}

.jumbotron .h1,
.jumbotron h1,
.jumbotron p {
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: #ffffff;
}

.jumbotron .row {
    margin-top:150px;
}

.g-user {
    border-radius: 50%;
}

/* frontpage graphics */
.thumbnail {
    border: none;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    height: 350px;
    background-color: rgba(255, 255, 255, 0.8);
}

div.col-sm-6.col-md-4:nth-of-type(1)> div {
    border-top:solid 30px #d9534f;
}
div.col-sm-6.col-md-4:nth-of-type(2)> div {
    border-top:solid 30px #FBD040;
}
div.col-sm-6.col-md-4:nth-of-type(3)> div {
    border-top:solid 30px #5cb85c;
}

.thumbnail .caption p{
    text-shadow:none;
    color: #000000;
}

.thumbnail img {
    width: auto;
    max-width: 70%;
    height: auto;
    max-height: 128px;
    background-color: #7ababa;
    border-radius: 50%;
    margin-top:20px;
}

/* spinner */
.spinner-color {
    color: #7ababa;
}

.glyphicon.glyphicon-ok {
    padding: 8px;
    border-radius: 50%;
    background: #5cb85c;
    color: #fff;
}
/* Emails controller */
.single-email,
.email-list {margin-top: 48px;}

.badge.iconified {
    padding: 3px 4px 3px 5px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .navbar-nav>li.logout>a,
    .navbar-nav>li.compose>a {
        cursor: pointer;
    }
    .navbar-nav>li.compose>a {
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        color:#ffffff;
    }

    .navbar-nav>li.compose>a:hover {
        background: #5cb85c;
        color:#ffffff;
    }
}


/* sign up form */
.signup  {padding-left: 15px; padding-right: 15px;text-align: center;clear: both;}

.signup #create-account-form {
    width: 60%;
    margin-left: 20%;
}

.signup .step {
    background-color: #eeeeee;
    padding: 15px;
    margin-top: 15px;
    position: relative;
}

.signup .step:last-of-type {
    margin-bottom: 15px;
}

.signup .step .label.label-default {
    position: absolute;
    left: 15px;
    top: 15px;
}

.signup .progress.progress-lg {
    height: 46px;
}

.signup .progress.progress-lg .progress-bar{
    line-height: 46px;
}

/* sign-in form */
.signin {background: rgba(255,255,255,0.8);padding: 15px;box-shadow: 0 2px 4px rgba(0,0,0,0.4);max-width: 60%;margin-left: 20%;margin-top: 50px;text-align: center;clear: both;}

.signin .step {
    position: relative;
}

.signin .step .label.label-default {
    position: absolute;
    left: 0px;
    top: 0px;
}

#mceu_14-body {
    display: none !important;
}
/* flash messages */
#flash {
    position: fixed;
    min-height: 50px;
    z-index: 999999;
    top: 40%;
    left: 20%;
    width: 60%;
    margin-bottom: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.btn.btn-link {
    color: #ffffff;
    text-decoration: underline;
}