<div class="jumbotron" ng-controller="mainController">
    <h1>Welcome to the most private mail service EVER(!)</h1>
    <p>We believe that user privacy is important, because of that we would never read your mails, heck we would try and ensure no one else could read them too.</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="images/icon3.svg" alt="see nothing">
                <div class="caption">
                    <h3>Keep it to yourself</h3>
                    <p>It is simple really, all email providers must keep track on their users</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="images/icon2.svg" alt="hear nothing">
                <div class="caption">
                    <h3>Dont tell us anything</h3>
                    <p>We dont track anything about your behaviour, or for that matter let others track it for you</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="images/icon1.svg" alt="say nothing">
                <div class="caption">
                    <h3>We would not tell anyone</h3>
                    <p>We dont like to know anything about you, for a simple reason, we cant share what we dont know</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="signup">
    <p>Before we get started we need to be sure you have an account here.</p>
    <p class="label label-info">Signing up takes only 3 simple steps.</p>

    <div class="step step-1">
        <h3><span class="label label-default">Step 1.</span> Sign in using your current mail provider (currently supporting only Gmail)</h3>
        <a class="btn btn-lg btn-social btn-google" ng-click="signIn()" >
            <i class="fa fa-google-plus"></i> Sign in using Google Plus
        </a>
    </div>

    <div class="step step-2">
        <h3><span class="label label-default">Step 2.</span> Select a passphrase, this will be used to identify you in our system</h3>
        {{passphrase}}
        <div ng-controller="signupController">
            <form id="create-account-form" novalidate>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Select a pass phrase" class="form-control" id="passphrase" ng-model="passphrase" ng-minlength="8" required>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-click="validateForm()">Go!</button>
                    </span>

                </div>
            </form>
        </div>
    </div>

    <div class="step step-3">
        <h3><span class="label label-default">Step 3.</span><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> youre all set!</h3>
        <p class="label label-success">let us redirect you to your mail account.</p>
    </div>
</div>

