<div class="jumbotron">
    <h1>Welcome to the most private mail service EVER(!)</h1>
    <p>We believe that user privacy is important, because of that we would never read your mails, heck we would try and ensure no one else could read them too.</p>

    <p ng-hide="accountExists">It doesnt seem you have an account, create one<span class="label label-info">It only takes about a minute.</span><br/>
        <a class="btn btn-lg btn-success" id="signupButton">Signup here</a><br/>
        if you already have an account <a class="btn btn-link" ng-click="signIn()">sign in to your account instead</a></p>
    <div id="signin" class="signin" ng-show="accountExists">
        <h2>Nice to see you again, please sign into your account</h2>
        <div class="step step-1">
            <h3><span class="label label-default">Step 1.</span> We see you signed out from your google account, please sign in again</h3>
            <google-plus-signin clientid="751944076427-vqqieir1dit5gko8e9fffc51ttqt8fnd.apps.googleusercontent.com"></google-plus-signin>
        </div>
        <div class="step step-2">
            <h3><span class="label label-default">Step 2</span> Sign-in (our system)</h3>
            <div ng-controller="signinController">
                <form id="sign-into-account-form" name="sign-into-account-form" novalidate >
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Whats your pass phrase" ng-model="passphrase" ng-minlength="8" required data-toggle="tooltip" data-placement="top" title="Make sure you remember the passphrase, we cant help you if you forget it">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="getKeyPair()">Sign-in</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="images/icon3.svg" alt="see nothing">
                <div class="caption">
                    <h3>Keep it to yourself</h3>
                    <p>It is simple really, all email providers must keep track on their users</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="images/icon2.svg" alt="hear nothing">
                <div class="caption">
                    <h3>Dont tell us anything</h3>
                    <p>We dont track anything about your behaviour, or for that matter let others track it for you</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="images/icon1.svg" alt="say nothing">
                <div class="caption">
                    <h3>We would not tell anyone</h3>
                    <p>We dont like to know anything about you, for a simple reason, we cant share what we dont know</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="signup" class="signup" ng-hide="accountExists">
    <div class="progress progress-lg">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{signupProgress}}%; min-width: 2em;">
            {{signupProgress}}%
        </div>
    </div>
    <div class="step step-1">
        <h3><span class="label label-default">Step 1.</span> Sign in using your current mail provider (currently supporting only Gmail)</h3>
        <google-plus-signin clientid="751944076427-vqqieir1dit5gko8e9fffc51ttqt8fnd.apps.googleusercontent.com"></google-plus-signin>
    </div>
    <div class="step step-2 hidden" ng-hide="keyPairGenerated">
        <h3><span class="label label-default">Step 2.</span> Select a passphrase, this will be used to identify you in our system</h3>
        <div ng-controller="signupController">
            <form id="create-account-form" name="create-account-form" novalidate >
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Select a pass phrase" ng-model="passphrase" ng-minlength="8" required data-toggle="tooltip" data-placement="top" title="Make sure you remember the passphrase, we cant help you if you forget it">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="createAccount()">Create account</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="step step-3 hidden" ng-show="keyPairGenerated">
        <h3><span class="label label-default">Step 3.</span><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> youre all set!</h3>
        <p class="label label-success">let us redirect you to your mail account.</p>
    </div>
</div>

